/* Search icon by IcoMoon, made with http://icomoon.io/app/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');

	font-weight: normal;
	font-style: normal;
}*/
*{
  padding: 0;
  margin: 0;
}
body{
	height: 100%;
    background: linear-gradient(rgba(23, 43, 60, 0.6),rgba(23, 43, 60, 0.6)), url('http://s2.postimg.org/40tlqo2bd/lexikon.jpg')  no-repeat center center fixed;
		-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container{
    width:600px;
    margin:50px auto;
}

.title{
	color:#dcddd8;
  padding:175px 0px 20px 0px;
  font-family: 'Anonymous Pro';
  font-weight: 700;
  font-size: 3.5rem;
  text-align: center;
}
.info{
	color:#dcddd8;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	margin-top: -40px;
}
.subtitle{
	color:#dcddd8;
	padding-top: 25px;
	padding-bottom: 45px;
  font-family: 'Lato', sans-serif;
  font-size: 1.7rem;
  text-align: center;
}

.searchbox{
    border-radius: 10px;
		right: 275px;
    position:relative;
    min-width:50px;
    width:0%;
    height:50px;
    float: right;
    overflow:hidden;

		-webkit-box-shadow: 2px 2px 3px 0px rgba(255,255,255,0.4);
		-moz-box-shadow: 2px 2px 3px 0px rgba(255,255,255,0.4);
		box-shadow: 2px 2px 3px 0px rgba(255,255,255,0.4);

    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -ms-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s;

		-webkit-transition-delay: 0.3s;
		-o-transition-delay: 0.3s;
		-moz-transition-delay: 0.3s;
		transition-delay: 0.3s;
}

.searchbox-input{
  border-radius: 10px 10px 10px 10px;
    top:0;
    right:0;
    border:0;
    outline:0;
    background:#dcddd8;
    width:100%;
    height:50px;
    margin:0;
    padding:0px 55px 0px 20px;
    font-size:20px;
    color:red;
}
.searchbox-input::-webkit-input-placeholder {
    color: #d74b4b;
}
.searchbox-input:-moz-placeholder {
    color: #d74b4b;
}
.searchbox-input::-moz-placeholder {
    color: #d74b4b;
}
.searchbox-input:-ms-input-placeholder {
    color: #d74b4b;
}

.searchbox-icon,
.searchbox-submit{
  box-shadow: -2px 3px 5px 0px rgba(0, 0, 0, 0.7);


    border-radius: 10px;
    font-family: 'icomoon' !important;
    width:50px;
    height:50px;
    display:block;
    position:absolute;
    top:0;
    font-family:verdana;
    font-size:2rem;
    right:0;
    padding:0;
    margin:0;
    border:0;
    outline:0;
    line-height:50px;
    text-align:center;
    cursor:pointer;
    color:#dcddd8;
    background:#172b3c;
}

.searchbox-icon:before {
  /*content: "\e901"; */
	content: "W";
}

.searchbox-open{
    width:100%;
}

.byline{
  position:absolute;
  top:150px;
  left:30%;
  text-align:center;
  font-size:18px;
}
.byline a{
  text-decoration:none;
  color: #d74b4b;
}
.searchResult{
	border-radius: 5px;
	margin: 10px auto 10px auto;
	width: 75%;
	height: 100px;
	background: rgba(230, 230, 231,0.8);

}
.searchImage{
	float:left;
	display: block;
	min-height: 75px;
	max-height: 100px;
	margin: 13px 0px auto 10px;
}
.searchTitle{
	font-family: 'Lato', sans-serif;
	font-size: 1.3rem;
	text-align: center;
	margin: 15px 0px 10px 0px;
	overflow: hidden;
}
.extract{
	margin: 0 10px 0 110px;
	font-family: 'Lato', sans-serif;
	text-align: center;
}
.searchResultLink{
	width: 75%;
	display: none;
	align-self: center;
}
a {
  color: inherit;
  text-decoration: inherit;
}

.hvr-reveal {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #2098d1;
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-reveal:hover:before, .hvr-reveal:focus:before, .hvr-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border-width: 6px;
}
